__pycache__/
*.pyc
.venv*/
.omc/
controllers/*/map.npz
controllers/*/cam.jpg
controllers/*/det_*.jpg
worlds/.*.wbproj
*.png
!protos/icons/*.png
models/
.DS_Store
controllers/tb3_catalog/catalog*/*.jpg
